.settings {
  width: 70rem;
}

.settings-title {
  text-align: center;
  border-bottom: 0.5rem solid #eee;
  margin-bottom: 1rem;
}

.settings-title h2 {
  width: fit-content;
  font-size: 1.25rem;
  padding: 1rem;
  margin-bottom: -1.75rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #222;
}

.result {
  justify-content: flex-start;
}

.duckie-background {
  position: relative;
  width: 480px;
  height: 480px;
  margin: 2rem auto;
  outline: 0.5rem solid #eee;
  background-size: contain;
  image-rendering: pixelated;
}
.duckie-layers {
  width: 480px;
  height: 480px;
  background-size: contain;
  image-rendering: pixelated;
}

@media screen and (max-width: 880px) {
  .duckie-background {
    width: 360px;
    height: 360px;
  }
  .duckie-layers {
    width: 360px;
    height: 360px;
  }
}
@media screen and (max-width: 750px) {
  .settings {
    max-width: 100%;
  }
  main {
    flex-direction: column;
  }
  .duckie-background {
    width: 480px;
    height: 480px;
  }
  .duckie-layers {
    width: 480px;
    height: 480px;
  }
}

@media screen and (max-width: 550px) {
  .duckie-background {
    width: 360px;
    height: 360px;
  }
  .duckie-layers {
    width: 360px;
    height: 360px;
  }
}
