.settings {
  width: 60rem;
}

.settings-title {
  text-align: center;
  border-bottom: 0.5rem solid #eee;
  margin-bottom: 1rem;
}

.settings-title h2 {
  width: fit-content;
  font-size: 1.25rem;
  padding: 1rem;
  margin-bottom: -1.75rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #222;
}
.result {
  justify-content: flex-start;
}

.btn-arrow img {
  width: 4rem;
  height: 4rem;
}
.btn-mug img {
  width: 3rem;
  height: 4.5rem;
}
.btn-gm img {
  width: 4.4rem;
  height: 3.2rem;
}

.duckie-background {
  position: relative;
  width: 600px;
  height: 337.5px;
  margin: 2rem auto;
  outline: 0.5rem solid #eee;
  background-size: contain;
  image-rendering: pixelated;
  overflow-x: hidden;
}
.duckie-layers {
  width: 600px;
  height: 337.5px;
  position: absolute;
  background-size: contain;
  image-rendering: pixelated;
  background-repeat: no-repeat;
}

.duckie-type {
  left: 50px;
}

.duckie-mug {
  bottom: 0px;
  right: 112.5px;
  width: 125px;
  height: 187.5px;
}
.duckie-gm {
  top: 37.5px;
  right: 112.5px;
  width: 137.5px;
  height: 100px;
}

@media screen and (max-width: 880px) {
  .settings {
    max-width: 100%;
  }
  main {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 650px) {
  .btn-mug img {
    width: 2.3rem;
    height: 3.5rem;
  }
  .btn-gm img {
    width: 3.3rem;
    height: 2.4rem;
  }

  .duckie-background {
    width: 360px;
    height: 225px;
  }
  .duckie-layers {
    width: 360px;
    height: 225px;
  }

  .duckie-type {
    left: 0px;
  }

  .duckie-mug {
    bottom: 0px;
    right: 40px;
    width: 83.5px;
    height: 125px;
  }
  .duckie-gm {
    top: 25px;
    right: 40px;
    width: 91.5px;
    height: 66.5px;
  }
}
