.duckie-background {
  position: relative;
  width: 480px;
  height: 480px;
  margin: 0 auto;
  outline: 0.5rem solid #eee;
  background-size: contain;
  image-rendering: pixelated;
}
.duckie-layers {
  width: 480px;
  height: 480px;
  background-size: contain;
  image-rendering: pixelated;
}
.duckie-head-extra {
  position: absolute;
  top: 0;
}

@media screen and (max-width: 500px) {
  .duckie-background {
    width: 360px;
    height: 360px;
  }
  .duckie-layers {
    width: 360px;
    height: 360px;
  }
}
