@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  color: #eee;
  background-color: #222;
}
a {
  text-decoration: none;
}
a:hover {
  color: #f7d60d;
}

/* LAYOUT */
header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  height: 10rem;
  padding-top: 2.5rem;
}
h1 {
  position: relative;
  font-size: 3rem;
  margin: 0 auto;
  color: #f7d60d;
}

main {
  display: flex;
  justify-content: center;
  margin: 1rem;
  gap: 2rem;
}

footer {
  display: block;
  text-align: center;
  margin: 2rem 0;
  border-bottom: 0.5rem solid #eee;
}

footer p {
  width: fit-content;
  height: 3rem;
  font-size: 1.25rem;
  padding: 1rem 2rem;
  margin-bottom: -1.75rem;
  margin-left: auto;
  margin-right: auto;
  color: #f7d60d;
  background-color: #222;
}
.flex {
  display: flex;
  gap: 1rem 1rem;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-col {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 650px) {
  h1 {
    font-size: 2rem;
  }
  footer p {
    font-size: 1rem;
  }
}
